@font-face {
  font-family: "EuropeExtR";
  src: url("./EuropeExt/europeext.otf");
}
@font-face {
  font-family: "EuropeExt";
  src: url("./EuropeExt/europeext_bold.otf");
}
@font-face {
  font-family: "EuropeExt";
  src: url("./EuropeExt/europeext_bold_italic.otf");
}
@font-face {
  font-family: "EuropeExt";
  src: url("./EuropeExt/europeextbold.ttf");
}
/* @font-face {
  font-family: "EuropeExtR";
  src: url("./EuropeExt/europeextnormal.ttf");
} */
/* EuropeExt ☝️ */
